
<? include ./partials/header ?>

<? const postUrl = '/blogs/' + blog._id; ?>

<div class="ui main text container segment">
  <div class="ui huge header">
    Edit Post - "<?= blog.title ?>"
  </div>

  <form action="<?= postUrl ?>?_method=PUT" method="POST" class="ui form">

    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" value=" <?= blog.title ?>" required>
    </div>
    <div class="field">
      <label>Image URL</label>
      <input type="text" name="blog[imageUrl]" value="<?=  blog.imageUrl ?>" required>
    </div>
    <div class="field">
      <label>Post Content</label>
      <textarea name="blog[body]" required><?= blog.body ?></textarea>
    </div>

    <button class="ui black icon button">
      Submit
      <i class="send icon right"></i>
    </button>

    <a href="<?= postUrl ?>" class="ui red basic icon button">
      Cancel
      <i class="remove icon right"></i>
    </a>

  </form>
</div>

<? include ./partials/footer ?>
