
<? include ./partials/header ?>

<div class="ui main text container">

  <div class="ui huge header">
    All Blog Posts
  </div>

  <div class="ui segment">
    <div class="ui divided items">

      <? blogs.forEach(function(blog) { ?>

        <? const postUrl = '/blogs/' + blog._id; ?>

        <div class="item">

            <a href="<?= postUrl ?>" class="image">
              <img src="<?= blog.imageUrl ?>" href="#">
            </a>

          <div class="content">

            <div class="header">
              <a href="<?= postUrl ?>">
                <?= blog.title ?>
              </a>
            </div>

            <div class="meta">
              <span>
                <?= blog.created.toDateString() ?>
              </span>
            </div>

            <div class="description">
              <p>
                <? if(blog.body.length > 250) { ?>
                  <?- blog.body.substring(0,250) ?>...
                <? } else { ?>
                  <?- blog.body ?>
                <? }; ?>
              </p>
            </div>

            <div class="extra">
              <a class="ui small black icon button" href="<?= postUrl ?>">
                Read More
                <i class="right chevron icon"></i>
              </a>
            </div>

          </div>

        </div>
      <? }); ?>

    </div>
  </div>

</div>

<? include ./partials/footer ?>
