
/* GLOBAL */

html {
  height: inherit;
}

.container.main {
  margin-top: 4.7em;
}

/* HEADER */

.menu .header i.icon {
  font-size: 1.8em;
}

/* INDEX */

i.icon.chevron {
  font-size: 0.8em;
}

.content .header a {
  color: black;
}

.content .header a:hover {
  text-decoration: underline;
}

/* SHOW */

#delete {
  display: inline;
}
